{%extends "base_utama.html"%}
{% block title %}Home Page{% endblock %}
{% block content %}
<h1>{{Text}}</h1>
<div style=" padding:50px; margin:5px;text-align:center">
<h1> About Us </h1>
    <br>
    <img src="{{url_for('static', filename='alstrukded.jpg')}}" alt="AlstrukDED" />
    <br><br>
    <p>Kami adalah sekelompok mahasiswa yang tubes alstrukdatnya tertinggal akibat hal-hal seperti tubes 2 algeo ini.<br>
    Mohon bantuan doanya atas nilai alstrukdat kami.</p>
    <h5>Kelompok kami terdiri dari 3 orang yaitu:</h5>
    <h6>Girvin Junod 13519096 </h6>
    <p>insert funny self image here</p>
    <h6>David Owen Adiwiguna 13519169</h6>
    <img src="{{url_for('static', filename='davidowen.jpg')}}" alt="dapidganteng" style = "width: 25%; heigth: 25%;" />
    <h6>Mahacarry Leonard Matheus 13519215</h6>
    <p>insert picture of superman</p>
    <br>
    <p>Status kami saat ini:</p>
    <img src="{{url_for('static', filename='meme.jpg')}}" style = "width: 25%; height: 25%;" alt="meme" />

</div>
{% endblock %}}